:root {
  --main-color: #ef4da2;
  --secondary-color: #b59274;
  --font-base-color: #1a1a1a;
  --font-secondary-color: #9a9a9a;
  --font-del-color: #d3d3d3;
  --section-title-size: 6rem;
}

.wide-inner {
  background: #ff73732d;
  margin: 0 2.5%;
  position: relative;
}

.inner {
  max-width: 1680px;
  width: 95%;
  background-color: rgba(201, 201, 255, 0.2);
  margin: 0 auto;
}

:is(.text-box) {
  margin-top: 10px;

  p {
    width: 100%;
    font-weight: 500;
  }
  .price-wrap {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;

    .price {
      display: flex;
      gap: 6px;
      flex-grow: 1;

      span {
        color: #9a9a9a;
        text-decoration: line-through;
      }
    }

    .sale {
      color: var(--main-color);
      font-weight: 600;
      width: fit-content;
    }
  }

  .add-cart {
    margin-top: 8px;
    text-decoration: underline;
    font-weight: 700;
    display: inline-block;
  }
}

:is(.img-hover-box) {
  position: relative;
  border-radius: 3rem;
  overflow: hidden;

  .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease 0.3s;
  }

  &:hover .hover-img {
    opacity: 1;
  }

  .heart-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    background: url(../img/heart.png) no-repeat;
    cursor: pointer;

    &.active {
      background: url(../img/heart-hover.png) no-repeat;
    }
  }
}

/* ㅡㅡㅡ header ㅡㅡㅡ */
header {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &::before {
    content: '';
  }
}

.logo {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 7rem;
  gap: 3rem;

  ul {
    display: flex;
    gap: 2.4rem;

    > li {
      position: relative;
      /* background: skyblue; */
      line-height: 70px;

      > a {
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
      }

      &:hover .depth1 {
        display: block;
      }

      .depth1 {
        display: none;
        height: auto;
        padding: 12px 30px 12px 20px;
        border-radius: 10px;
        background: #fff;
        font-size: 1.4rem;
        top: 55px;

        li {
          line-height: 200%;
          a {
            color: var(--font-base-color);
            font-size: 1.4rem;
            font-weight: 400;
          }
          &:hover a {
            color: var(--main-color);
          }
        }
      }
    }
  }

  .gnb-icon .cart-count {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    background: #ef4f11;
    border-radius: 50%;
    line-height: 2rem;
    font-size: 1rem;
    right: -10px;
    top: 15px;
    text-align: center;
  }
}

.main-menu {
  display: flex;
  gap: 2.4rem;

  &::before {
    content: '';
    display: block;
    width: 100%;
    background-color: var(--main-color);
    position: fixed;
    top: 70px;
    left: 0;
    height: 0px;

    transition: ease 0.3s;
  }

  > li {
    position: relative;
    > a {
      font-size: 2rem;
      font-weight: 600;
      line-height: 7rem;
      color: #fff;
    }
  }

  &:hover .depth1 {
    height: 100px;
  }

  &:hover::before {
    height: 120px;
  }
}

.main-menu:hover .depth1 {
  display: block;
}

.depth1 {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  color: #fff;
  flex-direction: column;
  transition: ease 0.3s;
  height: 0;
  overflow: hidden;

  li {
    margin-bottom: 8px;

    &:hover {
      color: var(--font-base-color);
    }
  }
}

/* ㅡㅡㅡ main ㅡㅡㅡ */

/* 상단 페이드베너 */
.main-slider-wrap {
  position: relative;
  .main-slider {
    position: relative;

    > div {
      display: flex;
      width: 100%;
      gap: 0;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      border-radius: 0 0 50px 50px;

      &.slider1 {
        background: #bc0a2c;
      }
      &.slider2 {
        background: #e14337;
      }
      & .slider3 {
        background-color: #fcb8c8;
      }
      & .slider4 {
        background: #dccbf2;
      }

      &.active {
        position: relative;
        z-index: 100;
      }

      .img-box {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .text-box {
        width: 100%;
        border: 1px solid #fff;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 30px;

        .slider-title {
          font-size: 6rem;
          color: #fff;
        }

        .explication {
          font-size: 2rem;
          color: #fff;
        }

        .shop-now-btn {
          border-radius: 40px;
          background: #fff;
          position: relative;
          overflow: hidden;
          width: fit-content;

          a {
            font-size: 2rem;
            display: inline-block;
            padding: 1.6rem 4rem;
            font-weight: 600;
            position: relative;
            color: #111;
            z-index: 1;

            &::after {
              position: absolute;
              top: -16px;
              left: -48px;
              z-index: -1;
              transition: ease 0.5s;

              content: '';
              width: 50px;
              height: auto;
              aspect-ratio: 1/1;

              border-radius: 100%;

              background: linear-gradient(
                90deg,
                rgba(131, 58, 180, 1) 0%,
                rgba(253, 29, 29, 1) 50%,
                rgba(252, 176, 69, 1) 100%
              );
            }

            &:hover::after {
              top: 8px;
              left: 40px;

              transform: scale(500%);
            }
          }
        }
      }
    }
  }

  .slider-pager {
    position: absolute;
    bottom: 50px;
    right: 0px;

    display: flex;
    justify-content: center;
    gap: 30px;
    width: 50%;
    z-index: 999;

    li {
      a {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 1.6rem;
        background: #fff;
        color: transparent;
        transition: ease 0.3s;
      }

      &.active,
      &:hover {
        a {
          width: 160px;
          border-radius: 1.6rem;
        }
      }
    }
  }
}

/* 본문 */
/* Shop by Category */
.container {
  margin-top: 16rem;
  .section-title {
    color: var(--main-color);
    text-align: center;
    font-size: 6rem;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }

  .category-wrap {
    margin: 0 0 16rem;

    .category-list {
      display: flex;
      gap: 4rem;

      > div {
        flex: 1;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;

        .img-box {
          border-radius: 2.4rem;
          overflow: hidden;
          img {
            width: 100%;
            transition: 0.3s;
          }

          &:hover img {
            opacity: 0.6;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

/* Make Your Own */
.make-your-wrap {
  /* background: #9a9a9a; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;

  .make-your {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a08be0+0,4695d6+51,95a9e5+98 */
    background: linear-gradient(
      to bottom,
      #a08be0 0%,
      #4695d6 51%,
      #95a9e5 98%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    .img-box {
      padding: 20px 0;
      img {
        max-width: 900px;
        margin: 0 auto;
      }
    }

    .text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;

      .legodt-logo {
        width: 100px;
        height: auto;
        border: 1px solid red;
        display: inline-block;
        border: 1px solid #fff;
        padding: 8px 16px;
        border-radius: 20px;

        img {
          margin: 0 auto;
        }
      }

      .slider-title {
        font-size: 6rem;
        margin: 20px 0 50px;
        text-shadow: 0 20px 13px rgba(0, 0, 0, 0.3);
      }

      .shop-now-btn {
        background: var(--font-base-color);
        border-radius: 5rem;
        display: inline-block;
        padding: 20px 34px;
        margin-top: 2.5rem;
      }
    }
  }
}

/* love-by-wrap */
.love-by-wrap {
  .loved-by-list-top,
  .loved-by-list-bottom {
    display: flex;
    gap: 4rem;

    .loved {
      position: relative;
      margin-bottom: 4rem;

      .number {
        font-size: 6.4rem;
        font-weight: 700;
        position: absolute;
        transform: translate(0, -50%);
        left: 20px;
        z-index: 900;
      }
    }
    & .loved-by-list-top {
      margin-bottom: 100px;

      .number {
        color: var(--main-color);
      }
    }
  }

  .more-btn {
    border: 1px solid red;
  }
}

/* new-in-wrap" */
.new-in-wrap {
  background: rgb(141, 182, 243);
  padding-top: 10rem;

  .inner {
    position: relative;
    background: transparent;

    .section-title {
      text-align: start;
      font-size: 5.6rem;
      color: #01a799;
      margin-bottom: 1px;
    }

    .section-sub-title {
      color: #fff;
      font-size: 4rem;
      font-weight: 700;
      margin-top: 8px;
    }

    .line-text {
      font-size: 10rem;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      color: rgb(141, 182, 243);
      font-weight: 700;
    }

    .img-box {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);

      img {
        max-width: 800px;
      }
    }

    strong {
      margin-top: 8rem;
      font-size: 3rem;
      display: inline-block;
      color: #fff;
    }

    .info-title {
      color: #fff;
      line-height: 1.6;
      margin-top: 1.2rem;
    }

    .shop-now-btn {
      display: inline-block;
      margin-top: 200px;
      margin-bottom: 120px;

      a {
        border: 1px solid #fff;
        color: #fff;
        font-size: 2rem;
        width: 600px;
        display: inline-block;
        text-align: center;
        padding: 15px 40px;
        border-radius: 40px;

        .hover-wrap {
          overflow: hidden;
          display: inline-block;

          .shop-now {
            /* overflow: hidden; */
            position: relative;
            display: inline-block;
            padding: 0 4px;
            transform: translateY(0px);
            transition: ease 0.3s;

            &::after {
              content: 'Shop Now';
              position: absolute;
              bottom: -30px;
              left: 0;
              padding: 0 4px;
            }
          }
        }

        &:hover .shop-now {
          transform: translateY(-30px);
        }
      }
    }

    .arrow-btn {
      display: flex;
      justify-content: center;
      gap: 0.8rem;
      padding-bottom: 40px;

      li {
        background: #fff;
        border-radius: 40px;

        a {
          display: flex;
          padding: 12px 28px;

          img {
            width: 28px;
            height: 24px;
            transform: translateX(0px);
            transition: ease-in 0.4s;
          }
        }

        &.left:hover a img {
          transform: translateX(-8px);
        }

        &.right:hover a img {
          transform: translateX(8px);
        }
      }
    }
  }
}

/* summer-sorted-wrap */
.summer-sorted-wrap {
  .tab-menu-list {
    display: flex;
    gap: 5rem;
    justify-content: center;
    font-size: 2.4rem;
    color: #9a9a9a;
    font-weight: 700;

    li {
      &:hover {
        color: var(--main-color);
      }

      &.active {
        color: var(--main-color);
        position: relative;

        &::after {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          background: var(--main-color);
          border-radius: 50%;

          position: absolute;
          top: 0;
          right: -6px;
        }
      }
    }
  }

  .sunshade-list {
    display: flex;
    gap: 4rem;
    margin-top: 40px;
    width: 97%;
    margin-left: 3%;

    .text-box {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}

/* catalogue-wrap */
.catalogue-wrap {
  .catalogue-list {
    display: flex;
    gap: 4rem;

    .catalogue {
      .big-img {
        border-radius: 4rem;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
        }

        .more-plus-btn {
          position: absolute;
        }

        .more-plus-btn:first-of-type {
          top: 180px;
          right: 150px;
        }

        .more-plus-btn:nth-of-type(2) {
          top: 320px;
          left: 60px;
        }

        .more-plus-btn:nth-of-type(3) {
          bottom: 220px;
          right: 145px;
        }
      }

      .thumb-img {
        display: flex;
        gap: 32px;
        align-items: center;
        margin-top: 40px;

        > p {
          width: 35%;
          border-radius: 20px;
          background: #fff;
        }
      }
    }
  }
}

/* ㅡㅡㅡ footer ㅡㅡㅡ */
